PORT=3001
LDAP_URL=ldap://ldap:389
LDAP_STARTTLS=false
LDAP_BIND_DN=cn=service,dc=example,dc=com
LDAP_BIND_PW=CHANGEME
LDAP_USER_BASE=ou=People,dc=example,dc=com
LDAP_USER_FILTER=(|(uid={upn})(mail={upn}))
JWT_PUBLIC_KEY=-----BEGIN PUBLIC KEY-----REPLACE-----END PUBLIC KEY-----
